* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

#logoSection {
    display: flex;
    align-items: center; /* Centering items vertically */
}

header img {
    width: 64px;
    height: 64px;
}

header a {
    text-decoration: none;
}

header nav a {
    text-decoration: none;
    color: #612999;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Nunito';  
}

header nav a.active {
    font-weight: 600;
}

nav a:hover {
    color: #912BBC;
}

nav {
    margin-right: 120px;
}

#logo{
    color: #3E3F43;
    font-family: 'Nunito';  
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 6px;
    text-decoration: none;
}

nav a {
    margin: 0 1em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#wrapper {
    width: calc(100% - 64px); /* 32px on each side */
    margin: 0 auto;
    margin-top: 6px;
}

main {
    text-align: center;
    flex: 1;
}

.photo-section {
    position: relative;
    display: inline-block;
}

.photo-section img {
    width: 100%;
    height: 797px;
    flex-shrink: 0;
    height: auto;
    display: block;
}

.photo-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* Padding for text positioning */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text at the top */
    align-items: flex-start; /* Align text to the left */
}

.photo-section .overlay h2 {
    margin-top: 32px;
    margin-left: 32px;
    color: #612999;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'Nunito';  
}

.photo-section .overlay p {
    color: #000;
    width: 448px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 32px;
    text-align: left;
    font-family: 'Nunito';  
}

#about-section {
    text-align: left;
    margin-top: 32px;
}

#about-section h2 {
    color: #612999;
    font-family: 'Rubik';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
}

#about-section p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 28.125px */
    margin-top: 32px;
    font-family: 'Rubik';
}

#popular-toys {

}

#popular-toys h2 {
    color: #612999;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 39px;
    text-align: left;
    font-family: 'Rubik';
}

.toy-card {
    width: 376px;
    height: 496px;
    margin: 32px;
    border-radius: 38px;
    background: #EFECFF;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.1);
    position: relative;
    overflow: hidden;
}

.toy-card img {
    width: 376px;
    border-radius: 38px;
}

.toy-card h3 {
    color: #000;
    text-align: justify;
    font-family: 'Abel';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
    margin-top: 19px;
}

.toy-card p {
    color: #333;
    text-align: justify;
    margin-left: 32px;
    margin-top: 7px;
    font-family: 'Abel';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.toy-card .price {
    position: absolute;
    bottom: 36px; /* Position from the bottom */
    left: 32px; /* Position from the left */
    color: #612999;
    text-align: justify;
    font-family: 'Abel';
    font-size: 35px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}


.toy-card .add-to-cart {
    position: absolute;
    bottom: 27px;
    right: 51px;
    background-color: #612999;
    color: white;
    border: none;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.toy-card .add-to-cart i {
    font-size: 20px;
}

.toy-card .like-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #EFECFF;
    color: red;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.toy-card .like-button i {
    font-size: 20px;
}

.toy-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 287px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 287px;
    background: #EFECFF;
    box-shadow: 0px 6px 40px rgba(57, 132, 187, 0.05);
    border-top: 1px solid #E5E5E5;
}

.footer-row {
    display: flex;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.footer-column h3 {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 150px;
    font-family: 'Nunito';
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    font-family: 'Nunito';
}

.footer-column ul li a {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-family: 'Nunito';
}

.footer-column ul li a:hover {
    color: #333;
}

.social-icons {
    display: flex;
    margin-left: 32px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #612999;
    font-size: 24px;
    transition: color 0.3s;
    margin-right: 24px;
}

.social-icons a:hover {
    color: #333;
}

.footer-bottom {
    color: #333;
    margin-left: 32px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-family: 'Nunito';
}

.photo-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.photo-gallery img {
    width: 300px;
    height: 300px;
    border: 4px solid #E6DBFE;
    object-fit: cover;
    
}

.photo-gallery .middle-photo {
    width: 388px;
}

.dinosaur-list {
    margin-top: 32px;
    text-align: left;
}

.dinosaur-list h2 {
    font-size: 32px;
    color: #612999;
    margin-bottom: 20px;
}

.dinosaur-list ul {
    list-style-type: none;
    padding: 0;
}

.dinosaur-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dinosaur-list .icon-circle {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #612999;
    margin-right: 16px;
    flex-shrink: 0;
}

.dinosaur-list .icon-circle i {
    font-size: 40px;
    color: #ffffff;
}

.dinosaur-list .dino-name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 58.333% */
}

.form-section {
    margin: 40px 0;
    text-align: left;
    margin-bottom: 287px;
}

.form-section h2 {
    font-size: 32px;
    color: #612999;
    margin-bottom: 20px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-section input {
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-section input[type="submit"] {
    width: 150px;
    background-color: #612999;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-section input[type="submit"]:hover {
    background-color: #3E3F43;
}

